annotated-types
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
Flask
flask-cors
#google-genai
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
requests
rsa
soupsieve
tqdm
typing-inspect
typing_extensions
uritemplate
urllib3
Werkzeug
gunicorn
python-dotenv
